.footer-main{
    display: flex;
    margin: 0 auto;
    min-height: 360px;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
}

.footer-main_ul{
    display: flex;
}